@import 'primeicons/primeicons.css';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 1.5;
  color: var(--text-color);
  background: var(--surface-ground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

input, select, textarea {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 600;
  line-height: 1.2;
  color: var(--text-color);
}

p {
  margin: 0;
}

// Utility classes
.positive {
  color: var(--green-500) !important;
}

.negative {
  color: var(--red-500) !important;
}

.neutral {
  color: var(--text-color-secondary) !important;
}
